---
import Header from '../components/header.astro';
import HeroSection from '../components/hero.astro';
import NoiseBackground from '../components/NoiseBackground.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Bastardos 🚬</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-[rgb(8,8,8)]">
    <NoiseBackground/>
    <Header/>
    <HeroSection/>
  </body>
  <style>
    .background-content{background: linear-gradient(185deg, #080808 30%, #5a0a85);}
  </style>
</html>
