 <style>
    .main-content {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 60px); /* Ajustar según el alto del header */
        padding: 1rem;
      }
 </style>
 
 <div>
    <main class="pt-20 mx-3">
    <div class="grid md:grid-cols-2 items-center overflow-hidden rounded-3xl max-w-6xl max-h-6xl mx-auto bg-black mt-6 md:mt-28 mb-6 font-sans">
        <div class="p-8 bg-[#131313]">
        <h2 class="text-3xl font-bold text-white">Ponte en contacto con <span class=" font-StreetSoul text-4xl text-[#a494df]">Nosotros</span></h2>
        <p class="text-sm text-gray-300 mt-4 leading-relaxed">¿Tienes algo en mente? ¡No dudes en contactar con nostros!</p>

        <form>
            <div class="space-y-4 mt-8">
            <input type="text" placeholder="Nombre Completo" class="px-2 py-3 bg-transparent text-gray-300 w-full text-sm border-b border-gray-400 focus: outline-none" />
            <input type="text" placeholder="Ciudad" class="px-2 py-3 bg-transparent text-gray-300 w-full text-sm border-b border-gray-400 focus: outline-none" />
            <input type="number" placeholder="Número Teléfono" class="px-2 py-3 bg-transparent text-gray-300 w-full text-sm border-b border-gray-400 focus: outline-none" />
            <input type="email" placeholder="Correo Electrónico" class="px-2 py-3 bg-transparent text-gray-300 w-full text-sm border-b border-gray-400 focus: outline-none" />
            <textarea placeholder="Escribe tu mensaje!" class="px-2 pt-3 bg-transparent text-gray-300 w-full text-sm border-b border-gray-400 focus: outline-none"></textarea>
            </div>

            <button type="button" class="mt-8 flex items-center justify-center text-sm w-full bg-white rounded-md px-6 py-3 tracking-wide text-gray-800 hover:bg-[#a494df] transition-colors">
            <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" fill="currentColor" class="mr-2" viewBox="0 0 548.244 548.244">
                <path fill-rule="evenodd" d="M392.19 156.054 211.268 281.667 22.032 218.58C8.823 214.168-.076 201.775 0 187.852c.077-13.923 9.078-26.24 22.338-30.498L506.15 1.549c11.5-3.697 24.123-.663 32.666 7.88 8.542 8.543 11.577 21.165 7.879 32.666L390.89 525.906c-4.258 13.26-16.575 22.261-30.498 22.338-13.923.076-26.316-8.823-30.728-22.032l-63.393-190.153z" clip-rule="evenodd" data-original="#000000"></path>
            </svg>
            Enviar Mensaje
            </button>
        </form>

        <ul class="mt-4 flex flex-wrap justify-center gap-4 lg:space-x-6 max-lg:flex-col max-lg:items-center max-lg:space-y-2 text-sm text-[#a494df]">
            <li class="flex items-center ">
            <a href="mailto:bastardos.series@gmail.com">bastardos.series@gmail.com</a>
            </li>
            <li class="flex items-center  ml-0 underline underline-offset-2">+34 625 56 74 26</li>
        </ul>
        </div>
        <div class="z-10 relative h-full max-md:min-h-[350px]">
        <iframe src="https://maps.google.com/maps?q=40.299944,-3.837833&t=&z=13&ie=UTF8&iwloc=&output=embed" class="left-0 top-0 h-full w-full rounded-t-lg lg:rounded-tr-none lg:rounded-bl-lg" allowfullscreen> </iframe>
        </div>
    </div>
    </main>
</div>
<script>
    // Script para el menú móvil
    document.getElementById('menu-toggle').addEventListener('click', function () {
    document.getElementById('mobile-menu').classList.toggle('hidden');
    });

    document.getElementById('menu-close').addEventListener('click', function () {
    document.getElementById('mobile-menu').classList.add('hidden');
    });
</script>

<script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>